{% extends 'base.html' %}

{% block head_content%}
    <title>Edit Card</title>
{% endblock head_content %}


{% block container %}
<div class="container mt-5">
    <div class="col-md-6 mx-auto">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">Edit Credit Card Information</h5>
            </div>
            <div class="card-body">
                {% include 'users/payments/form.html' %}
            </div>
        </div>
    </div>
</div>
{% endblock container %}