{% extends 'base.html' %}

{% block head_content %}
    <title>{{product.name}}</title>
{% endblock head_content %}


{% block container %}
    <div class="container">
        <div class="row">
            <div class="col-6 justiy-content-center ">
                <img class="d-block mx-auto" height="350" width="350" src="{{product.picture.url}}">
            </div>
            <div class="col-6">
                <div class="row">
                    <div class="col">
                        <div class="container mt-2">
                            <h5>{{product.brand}}</h5>
                            <h5 class="card-title">{{product.name}}</h5>
                            <h4 class="card-title">$ {{product.price}}</h4>
                            <br>
                            <ul>
                                {% for attribute in product.attribute_set.all %}
                                <li class="text-muted">{{attribute.name}}: {{attribute.value}}</li>
                                {% endfor %}
                            </ul>
                            <br>
                            {% if product.reviews %}
                            <div>{% include 'products/stars.html' %}</div>
                            {% endif %}

                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <div class="card-body">
                                <h6>Seller: {{product.seller.user.username}}</h6>
                                <p>Stock Quantity: {{product.stock_qty}}</p>
                                <br>
                                <a class="btn btn-primary w-100" href="{% url 'products:add-to-cart' product.slug %}">Add to cart</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>

        {# Product Description #}
        <div class="card" style="background-color: rgb(248, 248, 248);">
            <div class="card-body">
                <h3 class="card-title">Description</h3>
                {{ product.description | linebreaks }}
            </div>
        </div>
        <hr>

        <div class="card" style="background-color: rgb(248, 248, 248);">
            <div class="card-body">
                <h3 class="card-title">Attributes</h3>
                <table class="table table-bordered">
                    <tbody>
                        {% for attr in product.attributes.all %}
                            <tr>
                                <td><strong>{{attr.name}}</strong></td>
                                <td>{{attr.value}}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>

            </div>
        </div>
        <hr>


        {# Questions #}
        <div class="card" style="background-color: rgb(248, 248, 248);">
            <div class="card-body">
                <h3 class="card-title">Questions</h3>
                {% for question in product.questions.all %}
                    <ul>
                        {% if question.answer %}
                            <li>{{question.question}}</li>
                            <li class="text-muted">{{question.answer}}</li>
                        {% else %}
                            <li>{{question.question}} <p class="text-muted">unanswered question</p></li>

                            {% if request.user.profile == product.seller %}
                                <form action="{% url 'products:answer-question' product.slug question.pk%}" method="post">
                                    {% csrf_token %}
                                    <input class="form-control" type="text" name="answer" placeholder="Answer question..." required>
                                </form>
                            {% endif %}
                        {% endif %}
                    </ul>
                {% empty %}
                    <p class="text-muted">There are no questions yet</p>
                {% endfor %}
                <br>
                {% if request.user.profile != product.seller %}
                <form action="{% url 'products:ask-question' product.slug %}" method="post">
                    {% csrf_token %}
                    <input name="question" class="form-control" type="text" placeholder="Ask a question..." required>
                </form>
                {% endif %}

            </div>
        </div>
        <hr>

        {# Reviews #}
        <div class="card" style="background-color: rgb(248, 248, 248);">
            <div class="card-body">
                <h2 class="card-title">Reviews</h2>
                <hr>
                <div class="row">

                    <div class="col-2">
                        <h4>Score: <strong>{{product.avg_score}} / 5</strong></h4>
                        {% for rating, count in product.get_reviews_by_score.items %}
                        <div class="row align-items-center">
                            <div class="col-10 align-items-center">
                                <div class="progress"
                                    role="progressbar"
                                    aria-label="Basic example"
                                    aria-valuenow="{{count}}"
                                    aria-valuemin="0"
                                    aria-valuemax="{{product.reviews.all.count}}"
                                    style="height: 2px">
                                        <div class="progress-bar" style="width: {{count}}%;"></div>
                                </div>
                            </div>
                            <div class="col-1">
                                {{rating}}
                            </div>
                        </div>
                        {% endfor %}
                    </div>

                    <div class="col-10">
                        {% for review in product.reviews.all %}
                            <h5 class="card-subtitle mt-1 mb-1">{{review.score}}/5</h5>
                            <p class="card-text">{{review.description}}</p>
                        {% empty %}
                            <p class="text-muted">There are no reviews yet</p>
                        {% endfor %}
                    </div>

                </div>
            </div>
        </div>
        <br>
    </div>
{% endblock container %}