{% extends 'base.html' %}
{% load static %}

{% block head_content %}
    <title>D - Commerce</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/stars.css' %}"/>
{% endblock head_content %}


{% block container %}
    <div class="container">
        <div class="row">
            {% if products %}
            <div class="col-2 justify-content center rounded" style="background-color: rgb(248, 248, 248);">
                <div class="card mt-2">
                    <div class="card-body">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Categories</li>
                            {% for category in categories %}
                            <a  class="list-group-item"
                                href="{% url 'products:list' %}?search={{search_val | urlencode}}&category={{category | urlencode}}">
                                {{category}}
                            </a>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-10">
                {% for product in products %}
                <div class="card mb-2">
                    <div class="card-body">
                        <div class="d-flex">
                            <div class="flex-shrink-0">
                                <img class="img-fluid" width="160" height="160" src="{{product.picture.url}}">
                            </div>
                            <div class="d-flex flex-column ms-5">
                                <div class="p-1"><p>{{product.name}}</p></div>
                                <div class="p-1"><h4 class="card-text">$ {{product.price}}</h4></div>
                                <a href="{% url 'products:detail' product.slug %}" class="stretched-link"></a>
                                <div class="p-1">
                                    {% include 'products/stars.html' %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            {% else %}
            <div class="card mb-2">
                <div class="card-body">
                    <h2 class="card-title">There are no products than match your search</h2>
                    <p class="card-text">Maybe you can try with another search</p>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
{% endblock container %}