{% extends 'base.html' %}


{% block head_content %}
    <title>My Products</title>
{% endblock head_content %}


{% block container %}
    <div class="container w-75">
        <div class="container">
            <h2>My Published Products</h2>
        </div>

        <div class="container border rounded" style="background-color: rgb(248, 248, 248);">
            {% for product in published_products %}
            <div class="container mb-4 mt-4">
                <div class="row align-items-center">
                    <div class="col align-items-center">
                        {{ product.name }} | Stock: {{product.stock_qty }}
                    </div>
                    <div class="col">
                        <form action="{% url 'users:update_qty' product.pk %}" method="post">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col">
                                    <input class="form-control" type="number" name="new_stock_qty">
                                </div>
                                <div class="col">
                                    <input class="btn btn-primary" type="submit" value="Update Quantity">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <hr>
            {% empty %}
            <div class="container mb-4 mt-4">
                There are no Published Products
            </div>
            <hr>
            {% endfor %}
            <div class="container mb-4 mt-4">
                <a href="{% url 'products:create' %}" class="text-decoration-none streched-link">
                    <h6>Publish Products</h6>
                </a>
            </div>
        </div>
    </div>
{% endblock container %}