<footer class="container">
    <hr>
    <div class="container">
        <p class="text-muted fw-light">D - COMMERCE</p>
        <p class="text-muted fw-light">
            Disclaimer: This Django marketplace project is a prototype and has no real-world functionality. The purpose of this project is to showcase the design and functionality of a potential marketplace. Any products or services listed on this project are for demonstration purposes only and cannot be purchased or sold. Please do not enter any personal information or payment details into the project. We do not collect or store any user data. By using this project, you acknowledge that it is not a real marketplace and any transactions or interactions are for testing purposes only. This project is provided as-is and without warranty. We are not responsible for any damages or losses incurred through the use of this project.
        </p>
        <ul class="list-inline">
            <li class="list-inline-item">Project by Uriel Mayo</li>
            <li class="list-inline-item">
                <a href="https://github.com/urielmayo">
                    <i class="bi bi-github"></i>
                </a>
            </li>
            <li class="list-inline-item">
                <a href="https://www.linkedin.com/in/uriel-mayo/">
                    <i class="bi bi-linkedin"></i>
                </a>
            </li>
        </ul>
    </div>
</footer>