<nav class="navbar navbar-expand-lg" style="background-color: #0C4B33;">
    <div class="container-fluid">

        <a class="navbar-brand text-white me-5" href="{% url 'home' %}">D - COMMERCE</a>

        <form class="d-flex flex-grow-1 me-5" role="search" action="{% url 'products:list' %}">
            <div class="input-group">
                <input class="form-control" name="search" value="{{search_val}}" type="search" placeholder="Search" aria-label="Search" required>
                <button class="btn btn-light" type="submit"><i class="bi bi-search"></i></button>
            </div>
        </form>

        <ul class="navbar-nav">
            {% if request.user.is_authenticated %}
                <li class="nav-item">
                    <a href="{% url 'users:cart:cart' %}" class="nav-link text-white"><i class="bi bi-cart-fill"></i> Cart</a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="bi bi-bell-fill"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end">

                        {% for notification in unread_notifications %}
                        <li><a class="dropdown-item" href="{% url 'notifications:as_read' notification.pk%}">{{notification.title}}</a></li>
                        {% empty%}
                        <li>
                            <div class="container text-muted">There are no unread notifications</div>
                        </li>
                        {% endfor %}
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="{% url 'users:my-profile' %}">Check all notifications</a></li>

                    </ul>
                </li>
            {% endif %}

            <li>
                {% if request.user.is_anonymous %}
                <li class="nav-item">
                    <a class="nav-link text-white" href="{% url 'users:login' %}">Login</a>
                </li>
                {% else %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        {{request.user.username}}
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end">
                        <li><a class="dropdown-item" href="{% url 'users:my-profile'%}">Profile</a></li>
                        <li><a class="dropdown-item" href="{% url 'products:create' %}">Publish Product</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="{% url 'users:logout' %}">Log out</a></li>
                    </ul>
                </li>
                {% endif %}
            </li>

        </ul>
    </div>
</nav>